# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak bisa diubah elemennya. Umumnya Tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [1]:
# Contoh Tuple
T1 = (1,"dua",True,1+2j)
print("ini adalah tuple",T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [3]:
# Menampilkan tipe struktur data
type(T1)

tuple

Latihan 1

In [6]:
# Buatlah Tuplemu sendiri
BE = (3,"life goes on","blue & gray","stay")
print("ini adalah track list album BE",BE)
print(type(BE))

ini adalah track list album BE (3, 'life goes on', 'blue & gray', 'stay')
<class 'tuple'>

Sifat-sifat Tuple

In [28]:
# Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [8]:
# Tidak bisa diganti/Immutable
T1[2] = "manusia"
print("tampilkan T1 setelah diganti elemennya",T1)

TypeError: ignored

In [23]:
# Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah",T1[1])
("-"*20)
print("elemen ke satu dua tuple BE adalah",BE[1])

elemen kedua dari tuple T1 adalah dua
elemen ke satu dua tuple BE adalah life goes on

In [20]:
# Dapat Diijinkan Duplikasi
T2 = (2,2.4,True,2.4)
print(T2)
("-"*20)

BE = (3,"life goes on","blue & gray","stay","stay")
BE

(2, 2.4, True, 2.4)

(3, 'life goes on', 'blue & gray', 'stay', 'stay')

Menggabungkan Tuple

In [16]:
# Menggabungkan Tuple
T3 = T1 + T2
print(T3)

(1, 'dua', True, (1+2j), 2, 2.4, True, 2.4)

Latihan 2

In [19]:
# Buatlah tuple kedua lalu gabungkan 2 tuple yang kamu buat
LYS = ("answer","her","tear")
print("ini adalah versi dari album Love Yourself",LYS)
print("-"*20)

# gabungkan 2 tuple
Bangtan = BE + LYS
print(Bangtan)

ini adalah versi dari album Love Yourself ('answer', 'her', 'tear')
--------------------
(3, 'life goes on', 'blue & gray', 'stay', 'answer', 'her', 'tear')