# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. `list()` : untuk mengubah menjadi list

b. `tuple()`: untuk mengubah menjadi tuple

c. `set()`  : untuk mengubah menjadi set

d. `dict()` : untuk mengubah menjadi dictonary

# Mengkonversi tipe data list:

In [ ]:
# Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set   = set(L2)
k_dict  = dict(zip(L1,L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple

In [ ]:
# Membuat 2 tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [ ]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set  = set(T2) 
k_dict = dict(zip(T1,T1))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 1, 2: 2, 3: 3, 4: 4}

# Mengkonversi Tipe data set

In [ ]:
# Membuat 2 set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [ ]:
# Mengkonversi struktur data set
k_list  = list(S1)
k_tuple = tuple(S2)
k_dict  = dict(zip(S1,S2))
# Melihat data yang telah diubah
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data dictionary

In [ ]:
# Membuat dictionary
D = {
    "nama":"Andi",
     "alamat":"Yogyakarta",
     "umur": 20
}

In [ ]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list  = list(D.keys())
k_tuple = tuple(D.values())
k_set   = set(D.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

# Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

# Struktur data List
Repackage1 = ["hot sauce","hello future","life is still going on",3]
Comeback127 = ["sticker","lemonade","road trip","a"]
print(type(Repackage1))
print(type(Comeback127))
print("-"*20)
# Mengkonversi struktur data List
k_tuple = tuple(Repackage1)
k_set   = set(Comeback127)
k_dict  = dict(zip(Comeback127,Repackage1))
# Melihat data yang telah di konversi
print(k_tuple)
print(k_set)
print(k_dict)

<class 'list'>
<class 'list'>
--------------------
('hot sauce', 'hello future', 'life is still going on', 3)
{'road trip', 'lemonade', 'a', 'sticker'}
{'sticker': 'hot sauce', 'lemonade': 'hello future', 'road trip': 'life is still going on', 'a': 3}

In [ ]:
# Struktur data Tuple
BE = ("life goes on","blue & gray","stay")
LYS = ("answer","her","tear")
print(type(BE))
print(type(LYS))
print("-"*20)
# Mengkonversi struktur data Tuple
k_list = list(BE)
k_set  = set(LYS)
k_dict = dict(zip(BE,LYS))
# Melihat data yang telah di konversi
print(k_list)
print(k_set)
print(k_dict)

<class 'tuple'>
<class 'tuple'>
--------------------
['life goes on', 'blue & gray', 'stay']
{'tear', 'answer', 'her'}
{'life goes on': 'answer', 'blue & gray': 'her', 'stay': 'tear'}

In [ ]:
# Struktur data Set
S2 = {1,"stay",True,1+2j}
S3 = {"ugh",2,"filter",0}
print(type(S2))
print(type(S3))
print("-"*20)
# Mengkonversi struktur data Set
k_list  = list(S2)
k_tuple = tuple(S3)
k_dict  = dict(zip(S2,S3))
# Melihat data yang telah di konversi
print(k_list)
print(k_tuple)
print(k_dict)

<class 'set'>
<class 'set'>
--------------------
[1, 'stay', (1+2j)]
(0, 'ugh', 2, 'filter')
{1: 0, 'stay': 'ugh', (1+2j): 2}

In [ ]:
# Struktur data Dictionary
D2 = {'empathy':'black on black',
      'resonance':'make a wish',
      'cherry bomb':'whiplash'
      }
print(type(D2))
print('-'*20)
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list  = list(D2.keys())
k_tuple = tuple(D2.values())
k_set   = set(D2.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

<class 'dict'>
--------------------
['empathy', 'resonance', 'cherry bomb']
('black on black', 'make a wish', 'whiplash')
{'empathy', 'resonance', 'cherry bomb'}